<h1 class="title">{{photo.name}}</h1>
<img class="full-width" src="{{photo.image_url}}" alt="{{photo.name}}">


{{#if photo.rating}}
    <section class="module no-gutter ratings">
        <p>
          {{#if photo.votes_count}}
              <strong>Votes:</strong> {{photo.votes_count}}
          {{/if}}

          {{#if photo.favorites_count}}
              <strong>Favorites:</strong> {{photo.favorites_count}}
          {{/if}}

          {{#if photo.highest_rating}}
              <strong>Rating:</strong> {{photo.highest_rating}}
          {{/if}}
        </p>
    </section>
{{/if}}

<section class="module photo-details">
    <h3>{{photo.name}}</h3>
  {{#if photo.description}}
      <p>{{photo.description}}</p>
  {{/if}}

    <nav class="button-container centered">
        <a class="button whtie box small" href="http://500px.com{{photo.url}}" target="_blank">Rate this picture <span class="icon-thumbs-up"></span></a>
    </nav>

  {{#if photo.camera}}
      <p><strong>Camera:</strong> {{photo.camera}}</p>
  {{/if}}

  {{#if photo.lens}}
      <p><strong>Lens:</strong> {{photo.lens}}</p>
  {{/if}}

  {{#if photo.focal_length}}
      <p><strong>Focal length:</strong> {{photo.focal_length}}</p>
  {{/if}}

  {{#if photo.iso}}
      <p><strong>ISO:</strong> {{photo.iso}}</p>
  {{/if}}

  {{#if photo.aperture}}
      <p><strong>Aperture:</strong> {{photo.aperture}}</p>
  {{/if}}

</section>

{{#if comments}}
    <section class="module comments">
        <h2 class="title">Comments:</h2>
      {{#each comments}}
          <p>
              <img class="gravatar" src="{{user.userpic_url}}" alt="{{user.fullname}}">{{user.fullname}}
              from {{user.country}}<br>
            {{body}}
          </p>
      {{/each}}
    </section>
{{/if}}


