<h1 class="title">{{name}}</h1>
<img class="full-width" src="{{image_url}}" alt="{{name}}">

<p class="html-callout">
    <strong>Votes:</strong> {{votes_count}}
    <strong>Favorites:</strong> {{favorites_count}}
    <strong>Rating:</strong> {{highest_rating}}
</p>

<h3>Rate this picture: <a href="http://500px.com{{url}}" target="_blank">{{name}}</a></h3>

<p class="html-callout">{{description}}</p>

<p class="html-callout"><strong>Camera:</strong> {{camera}}</p>
<p class="html-callout"><strong>Lens:</strong> {{lens}}</p>
<p class="html-callout"><strong>Focal length:</strong> {{focal_length}}</p>
<p class="html-callout"><strong>ISO:</strong> {{iso}}</p>
<p class="html-callout"><strong>Aperture:</strong> {{aperture}}</p>



{{#if comments}}
<div class="module">
    <h2 class="title">Comments:</h2>
    {{#each comments}}
    <p class="html-callout">
        <img class="gravatar" src="{{user.userpic_url}}" alt="{{user.fullname}}">{{user.fullname}} from {{user.country}}<br>
        {{body}}
    </p>
    {{/each}}
</div>
{{/if}}


