<section class="portfolio">
    <h1 class="title">{{name}}</h1>
    <img class="full-width" src="/img/work/large/{{image}}" alt="{{name}}">

    <p class="html-callout">{{description}}</p>

    <p class="html-callout">
        <strong>Website:</strong> <a href="{{url}}" target="_blank">{{name}}</a>
    </p>

    <p class="html-callout">
        <strong>Client:</strong>
      {{#each client}}
          <a href="{{url}}" target="_blank">{{name}}</a>
      {{/each}}
    </p>

    <p class="html-callout"><strong>My Role: </strong>{{information}}</p>
</section>

