<h1 class="title">Photography</h1>

<!--<a href="#photography?page=3">Just a link1111</a>-->

<!--<section class="module no-gutter pagination">-->
    <!--<ul class="sortBy">-->
        <!--<li class="active"><a data-sort-name="created_at" href="">Date Uploaded</a></li>-->
        <!--<li><a data-sort-name="times_viewed" href="#">Views</a></li>-->
        <!--<li><a data-sort-name="votes_count" href="#">Likes</a></li>-->
        <!--<li><a data-sort-name="favorites_count" href="#">Favorites</a></li>-->
        <!--<li><a data-sort-name="highest_rating" href="#">Highest Pulse</a></li>-->
    <!--</ul>-->
<!--</section>-->

<section class="module no-gutter pagination">
    <ul>
      {{#pagination pagination type="previous"}}
          <li {{#if disabled}}class="disabled"{{/if}}><a href="#photography?page={{n}}">&laquo;</a></li>
      {{/pagination}}
      {{#pagination pagination type="middle" limit="5"}}
          <li {{#if active}}class="active"{{/if}}><a href="#photography?page={{n}}">{{n}}</a></li>
      {{/pagination}}
      {{#pagination pagination type="next"}}
          <li {{#if disabled}}class="disabled"{{/if}}><a href="#photography?page={{n}}">&raquo;</a></li>
      {{/pagination}}
    </ul>
</section>

<section class="module">
    <ul class="portfolio category"></ul>
</section>

<section class="module no-gutter pagination">
    <ul>
      {{#pagination pagination type="previous"}}
          <li {{#if disabled}}class="disabled"{{/if}}><a href="#photography?page={{n}}">&laquo;</a></li>
      {{/pagination}}
      {{#pagination pagination type="middle" limit="5"}}
          <li {{#if active}}class="active"{{/if}}><a href="#photography?page={{n}}">{{n}}</a></li>
      {{/pagination}}
      {{#pagination pagination type="next"}}
          <li {{#if disabled}}class="disabled"{{/if}}><a href="#photography?page={{n}}">&raquo;</a></li>
      {{/pagination}}
    </ul>
</section>
