<!--<a href="/#photography/{{id}}">-->
    <img src="{{image_url}}" alt="{{name}}" />
<!--</a>-->
<h4>{{name}}</h4>
<h6 style="text-align: center;">votes: {{votes_count}} favorites: {{favorites_count}}</h6>
